body.main {
  background-color: #F9E4BC;
  font-family: Arial, Helvetica, sans-serif;
  margin: 100px 100px 100px 100px;

}

h1 {
  color: #2E1308;
  text-align: center;
}

h2 {
  color: #87553B;
  text-align: center;
}

p {
  color: #87553B;
}

button {
  color: #FF6363;
}

#innerbox {
  border-radius: 25px;  
  background: whitesmoke;
  min-width: 600px; 
  padding: 25px; 
  width: 100%;  
}

.puset{
  color: aliceblue;
  text-align: center;
}

.popup-overlay {
  display: none; 
  position: fixed;
  border-radius: 25px;  
  padding-left: 15%; 
  padding-top: 25px;

  top: 20%;
  left: 25%;
  width: 50%;
  height: 65%;
  background: rgb(105, 91, 91); 
  z-index: 1000;
  min-width: 450px; 
}

.popup-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.popup-delete-btn {
  position: fixed;
  top: 25%;
  left: 30%;
  color: red;
}
.popup-submit-btn {
  position: fixed;
  bottom: 20%;
  right: 30%;
  color: green;
}

.popup-close-btn {
  position: fixed;
  bottom: 20%;
  left: 30%;
  color: red;
}

.close-edit-popup{
  position: fixed;
  bottom: 20%;
  left: 30%;
  color: blue;
}


input[type=text]:focus {
  border: 1px solid #17427a;
}

.popup-overlay input[type="text"], 
.popup-overlay input[type="number"], 
.popup-overlay select {
  width: 80%; 
  min-width: 300px; 
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  appearance: none;
  margin: 8px 0;
}

.group{
  display: flex;
  align-items: center;
  gap: 5px;
}

#movie-status option[disabled] {
  color: gray;
}

input[type="text"], select {
  width: 75%; 
  min-width: 300px; 
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  appearance: none;
  margin: 8px 0;
}