body.main {
  background-color: #1C3041;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 0px 0px 0px;
  padding: 25px;
  display: grid;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: #508AA8;
  text-align: center;
}

p {
  color: #8D6B94;
}

button {
  padding: 10px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

#innerbox {
  border-radius: 25px;  
  background: #E6E6E9;
  min-width: 1200px; 
  padding: 25px; 
  width: 100%;  
  margin: 0 auto;
  box-sizing: border-box;
}

#innerbox h2 {
  color: #8d5594;
  text-align: center;
}


#movies-container {
  overflow-x: auto;
  white-space: nowrap;
}

.table {
  width: 100%; 
  min-width: 1000px;
}

.puset{
  color: aliceblue;
  text-align: center;
}

.popup-overlay {
  display: none; 
  position: fixed;
  border-radius: 25px;  
  padding: 25px; 

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #508AA8; 
  z-index: 1000;
  margin: 0 auto;
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: auto;
}

.popup-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.popup-delete-btn {
  position: relative;
  left: 40%;
  color: red;
}
.popup-submit-btn {
  background-color: #99d115;
  color: white;
}

.popup-close-btn {
  background-color: #d4422f;
  color: white;
}

#search-btn {
  background-color: #27afbe;
  color: white;
}

#filter-btn {
  background-color: #be2793;
  color: white;
}

#add-btn {
  position: relative;
  left: 90%;
  background-color: #99d115;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 10px 15px;
  background-color: white;
  text-decoration: none;
  display: block;
  border: none;
  width: 175px;
  text-align: left;
}

.dropdown-options button:hover {
  background-color: #b5afaf;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .filter-category {
  background-color: #be2793;
  color: white;
  padding: 10px 15px;
  display: block;
  width: 175px;
  text-align: left;
}

input[type="text"], select {
  width: 70%; 
  min-width: 300px; 
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  appearance: none;
  margin: 10px 0;
}

input[type=text]:focus {
  border: 1px solid #284e81;
}

.popup-overlay input[type="text"], 
.popup-overlay input[type="number"], 
.popup-overlay select {
  width: 80%; 
  min-width: 300px; 
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  appearance: none;
  margin: 10px 0;
}

.group{
  display: flex;
  align-items: center;
  gap: 5px;
}


@media (max-width: 1200px) {
  #innerbox {
    min-width: 800px; 
  }
  #add-btn {
    left: 85%;
  }  
}
@media (max-width: 800px) {
  #innerbox {
    min-width: 550px; 
  }
  #add-btn {
    left: 80%;
  }
}